* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

button {
  all: unset;
}

@font-face {
  font-family: 'Friz Quadrata';
  src: url('assets/fonts/Friz\ Quadrata\ Std\ Medium.otf');
}

@font-face {
  font-family: 'MORPHEUS';
  src: url('assets/fonts/MORPHEUS.TTF');
}
