* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 1080px;
  max-height: 1080px;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: auto;
}

button {
  all: unset;
}

@font-face {
  font-family: 'Friz Quadrata';
  src: url('assets/fonts/Friz\ Quadrata\ Std\ Medium.otf');
}

@font-face {
  font-family: 'MORPHEUS';
  src: url('assets/fonts/MORPHEUS.TTF');
}
