.quest-tracker-view {
  height: max-content;
}

.quest-tracker-controls {
  width: 272px;
  height: 596px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.complete {
  background-color: green;
}