/* Shared */

.quest-tracker-controls,
.quest-tracker-view {
  height: max-content;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background: rgba(241, 221, 111, 0.5);
}


/* Controls */

.quest-tracker-controls {
  width: 292px;
  margin-left: 10px;
  margin-right: 10px;
}


/* View */

.quest-tracker-view {
  /* width: calc(100% - 584px); */
  max-width: 496px;
}

.complete {
  background-color: green;
}
