/* General */

.tools {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  width: 249.5px;
  min-width: 249.5px;
  height: max-content;
  border: 1px solid black;
  border-radius: 10px;
}

.classic-tools {
  background: rgba(241, 221, 111, 0.5);
}

.tbc-tools {
  background: rgba(45, 159, 5, 0.5);
}

.wotlk-tools {
  background: rgba(25, 118, 174, 0.6);
}


/* Tools Header */

.tools-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 7px;
}

.tools-header-text {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 40px;
  margin-top: -40px;
  font-family: Friz Quadrata;
  font-size: 24px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Tools List */

.tool-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}


/* Tool Buttons */

.tool-button,
.tool-big-button {
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  transition: width 0.1s linear, height 0.1s linear;
}

.tool-button {
  width: 224px;
  height: 54px;
  background-image: url("../../assets/buttons/button.png");
}

.tool-active,
.tool-hovering {
  width: 236.5px;
  height: 57px;
}

.tool-big-button {
  width: 224px;
  height: 74px;
  background-image: url("../../assets/buttons/big-button.png");
}

.tool-big-active,
.tool-big-hovering {
  width: 236.5px;
  height: 78px;
}

.tool-button-text,
.tool-big-button-text,
.tool-big-button-text-bottom {
  display: flex;
  justify-content: center;
  font-family: Friz Quadrata;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear, margin-top 0.1s linear, margin-bottom 0.1s linear;
}

.tool-button-text,
.tool-big-button-text,
.tool-big-button-text-bottom {
  font-size: 26px;
}

.tool-big-button-text-bottom {
  margin-top: -5px;
}

.tool-text-active,
.tool-text-hovering,
.tool-big-text-active,
.tool-big-text-hovering,
.tool-big-text-active-bottom,
.tool-big-text-hovering-bottom {
  font-size: 28px;
}
