/* General */

.classic-tools,
.tbc-tools,
.wotlk-tools {
  width: 292px;
  height: max-content;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 15px;
  border-right: 1px solid black;
}

.classic-tools {
  background: rgba(241, 221, 111, 0.5);
}

.tbc-tools {
  background: rgba(45, 159, 5, 0.5);
}

.wotlk-tools {
  background: rgba(25, 118, 174, 0.5);
}


/* Tools Label */

.tools-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 21px;
}

.tools-label-text {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 40px;
  margin-top: -40px;
  font-family: Friz Quadrata;
  font-size: 24px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Tools List */

.tool-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.tool {
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Tool Buttons */

.tool-button,
.tool-button-active,
.tool-button-hovering,
.tool-button-hovering-active,
.tool-big-button,
.tool-big-button-active,
.tool-big-button-hovering,
.tool-big-button-hovering-active {
  background-repeat: no-repeat;
  background-size: 100%;
  transition: width 0.1s linear, height 0.1s linear;
}

.tool-button,
.tool-button-active,
.tool-button-hovering,
.tool-button-hovering-active {
  background-image: url("../../assets/buttons/button.png");
}

.tool-big-button,
.tool-big-button-active,
.tool-big-button-hovering,
.tool-big-button-hovering-active {
  background-image: url("../../assets/buttons/big-button.png");
}

.tool-button {
  width: 224px;
  height: 54px;
}

.tool-button-active,
.tool-button-hovering,
.tool-button-hovering-active {
  width: 248px;
  height: 60px;
}

.tool-big-button {
  width: 224px;
  height: 74px;
}

.tool-big-button-active,
.tool-big-button-hovering,
.tool-big-button-hovering-active {
  width: 248px;
  height: 82px;
}

.tool-button-text,
.tool-button-text-active,
.tool-button-text-hovering,
.tool-button-text-hovering-active,
.tool-big-button-text,
.tool-big-button-text-active,
.tool-big-button-text-hovering,
.tool-big-button-text-hovering-active {
  display: flex;
  justify-content: center;
  font-family: Friz Quadrata;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
}

.tool-button-text,
.tool-big-button-text {
  font-size: 26px;
}

.tool-button-text-active,
.tool-button-text-hovering,
.tool-button-text-hovering-active,
.tool-big-button-text-active,
.tool-big-button-text-hovering,
.tool-big-button-text-hovering-active {
  font-size: 30px;
}
