/* Menu Items */

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
}


/* Main Menu Button */

.dd-main-button,
.dd-main-button-hovering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: width 0.1s linear, height 0.1s linear;
  background-image: url("../../assets/buttons/button.png");
}

.dd-main-button {
  width: 224px;
  height: 54px;
}

.dd-main-button-hovering {
  width: 248px;
  height: 60px;
}

.dd-main-arrow,
.dd-main-arrow-hovering {
  margin-left: 20px;
  transition: width 0.1s linear, height 0.1s linear;
}

.dd-main-arrow {
  width: 18px;
  height: 18px;
}

.dd-main-arrow-hovering {
  width: 22px;
  height: 22px;
}

.c12, .c12-hovering,
.c13, .c13-hovering,
.c14, .c14-hovering,
.c15, .c15-hovering,
.c16, .c16-hovering,
.c17, .c17-hovering,
.c18, .c18-hovering,
.c19, .c19-hovering,
.c20, .c20-hovering,
.c21, .c21-hovering,
.c22, .c22-hovering,
.c25, .c25-hovering,
.c26, .c26-hovering {
  margin-right: 20px;
  width: 100%;
  font-family: Friz Quadrata;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
  text-align: center;
}

.c12 {
  font-size: 25px;
}

.c12-hovering {
  font-size: 28.5px;
}

.c13 {
  font-size: 23.5px;
}

.c13-hovering {
  font-size: 26.5px;
}

.c14 {
  font-size: 21.5px;
}

.c14-hovering {
  font-size: 24px;
}

.c15 {
  font-size: 20px;
}

.c15-hovering {
  font-size: 22.5px;
}

.c16 {
  font-size: 19.5px;
}

.c16-hovering {
  font-size: 22px;
}

.c17 {
  font-size: 18px;
}

.c17-hovering {
  font-size: 20px;
}

.c18 {
  font-size: 18.5px;
}

.c18-hovering {
  font-size: 21px;
}

.c19 {
  font-size: 17.5px;
}

.c19-hovering {
  font-size: 19.5px;
}

.c20 {
  font-size: 16.5px;
}

.c20-hovering {
  font-size: 18.5px;
}

.c21 {
  font-size: 17px;
}

.c21-hovering {
  font-size: 19px;
}

.c22 {
  font-size: 15px;
}

.c22-hovering {
  font-size: 17px;
}

.c25 {
  font-size: 14px;
}

.c25-hovering {
  font-size: 15.5px;
}

.c26 {
  font-size: 12.5px;
}

.c26-hovering {
  font-size: 14px;
}


/* Sub Menu Button */

.dd-sub-button,
.dd-sub-button-hovering {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 174px;
  height: 30px;
  background-image: url("../../assets/buttons/sub-button.png");
}

.dd-sub-button-hovering {
  filter: brightness(1.5)
}

.dd-sub-button-text,
.dd-sub-button-text-hovering {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: Friz Quadrata;
  font-weight: bold;
}

.dd-sub-button-text {
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
}

.dd-sub-button-text-hovering {
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
}

.dd-long-sub-text {
  font-size: 13px;
}

.dd-sub-arrow {
  position: absolute;
  left: 0;
  margin-left: 6px;
  width: 18px;
  height: 18px;
}


/* Dropdown */

.dropdown,
.dropdown-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: -174px;
}

.dropdown-show {
  display: block;
}
