/* Menu Items */

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
}


/* Main Menu Button */

.dd-main-button,
.dd-main-button-hovering {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: width 0.1s linear, height 0.1s linear;
  background-image: url("../../assets/buttons/button.png");
}

.dd-main-button {
  width: 224px;
  height: 54px;
}

.dd-main-button-hovering {
  width: 248px;
  height: 60px;
}

.dd-main-arrow,
.dd-main-arrow-hovering {
  position: absolute;
  left: 20px;
  transition: width 0.1s linear, height 0.1s linear;
}

.dd-main-arrow {
  width: 18px;
  height: 18px;
}

.dd-main-arrow-hovering {
  width: 22px;
  height: 22px;
}

.dd-button-text-short,
.dd-button-text-short-hovering,
.dd-button-text-lower-mid,
.dd-button-text-lower-mid-hovering,
.dd-button-text-mid,
.dd-button-text-mid-hovering,
.dd-button-text-upper-mid,
.dd-button-text-upper-mid-hovering,
.dd-button-text-long,
.dd-button-text-long-hovering,
.dd-button-text-extra-long,
.dd-button-text-extra-long-hovering,
.dd-button-text-jumbo,
.dd-button-text-jumbo-hovering {
  display: flex;
  justify-content: center;
  font-family: Friz Quadrata;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
  text-align: center;
}

.dd-button-text-short {
  font-size: 26px;
}

.dd-button-text-short-hovering {
  font-size: 30px;
}

.dd-button-text-lower-mid {
  font-size: 24px;
}

.dd-button-text-lower-mid-hovering {
  font-size: 27px;
}

.dd-button-text-mid {
  font-size: 18px;
}

.dd-button-text-mid-hovering {
  font-size: 20px;
}

.dd-button-text-upper-mid {
  font-size: 16px;
}

.dd-button-text-upper-mid-hovering {
  font-size: 18px;
}

.dd-button-text-long {
  font-size: 13px;
}

.dd-button-text-long-hovering {
  font-size: 15px;
}

.dd-button-text-extra-long {
  font-size: 12px;
}

.dd-button-text-extra-long-hovering {
  font-size: 14px;
}

.dd-button-text-jumbo {
  font-size: 11px;
}

.dd-button-text-jumbo-hovering {
  font-size: 12px;
}


/* Sub Menu Button */

.dd-sub-button,
.dd-sub-button-hovering {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 174px;
  height: 30px;
  background-image: url("../../assets/buttons/sub-button.png");
}

.dd-sub-button-hovering {
  filter: brightness(1.5)
}

.dd-sub-button-text,
.dd-sub-button-text-hovering {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: Friz Quadrata;
  font-weight: bold;
}

.dd-sub-button-text {
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
}

.dd-sub-button-text-hovering {
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear;
}

.dd-long-sub-text {
  font-size: 13px;
}

.dd-sub-arrow {
  position: absolute;
  left: 0;
  margin-left: 6px;
  width: 18px;
  height: 18px;
}


/* Dropdown */

.dropdown,
.dropdown-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: -174px;
}

.dropdown-show {
  display: block;
}
