/* Dropdown */

.dropdown-l1,
.dropdown-l2,
.dropdown-l3 {
  display: none;
  position: absolute;
  right: 174px;
  top: 0;
}

.dropdown-sm-l1,
.dropdown-sm-l2,
.dropdown-sm-l3 {
  display: none;
  position: absolute;
  left: 174px;
}

.dropdown-l1 {
  right: 236px;
}

.dropdown-sm-l1 {
  left: 236px;
  bottom: 0;
}

.dd-zone {
  top: 0;
}

.dropdown-l2,
.dropdown-sm-l2 {
  z-index: 1;
}

.dropdown-sm-l2 {
  top: 0;
}

.dropdown-l3,
.dropdown-sm-l3 {
  overflow-y: scroll;
  z-index: 2;
  scroll-snap-type: y mandatory;
}

.dropdown-l3{
  direction: rtl;
  height: 360px;
}

.dropdown-sm-l3{
  direction: ltr;
  top: 0;
  height: 180px;
}

.dd-scroll::-webkit-scrollbar {
  width: 10px;
}

.dd-scroll::-webkit-scrollbar-track {
  margin-top: 2px;
  margin-bottom: 2px;
}

.dd-scroll::-webkit-scrollbar-thumb {
  height: 10px;
  border: #11151b 1px solid;
  border-radius: 10px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
}

.dd-scroll::-webkit-scrollbar-thumb:hover {
  border: #11151b 2px solid;
}

.dropdown-show {
  display: block;
}


/* Menu Items */

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border: none;
  font-size: 14px;
}


/* Main Menu Button */

.dd-main-button,
.dd-main-button-active {
  border-radius: 5px;
  background-image: url("../../assets/buttons/main-button.png");
  /* background-size: 100%; <=== MOST LIKELY CULPRIT */
  background-repeat: no-repeat;
  /* transition: width 0.1s linear, height 0.1s linear; */
}

.dd-main-button {
  width: 224px;
  height: 54px;
}

.dd-main-button-active {
  width: 236.5px;
  height: 56.78px;
}

.dd-main-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dd-main-arrow,
.dd-main-arrow-sm,
.dd-main-arrow-active,
.dd-main-arrow-sm-active {
  /* transition: margin 0.1s linear, width 0.1s linear, height 0.1s linear; */
}

.dd-main-arrow {
  margin-left: 20px;
}

.dd-main-arrow-sm {
  margin-right: 20px;
  transform: scaleX(-1);
}

.dd-main-arrow-active {
  margin-left: 21.5px;
}

.dd-main-arrow-sm-active {
  margin-right: 21.5px;
  transform: scaleX(-1);
}

.dd-main-arrow,
.dd-main-arrow-sm {
  width: 20px;
  height: 20px;
}

.dd-main-arrow-active,
.dd-main-arrow-sm-active {
  width: 21.5px;
  height: 21.5px;
}

.c12, .c12-active,
.c13, .c13-active,
.c14, .c14-active,
.c15, .c15-active,
.c16, .c16-active,
.c17, .c17-active,
.c18, .c18-active,
.c19, .c19-active,
.c20, .c20-active,
.c21, .c21-active,
.c22, .c22-active,
.c25, .c25-active,
.c26, .c26-active {
  width: 100%;
  margin-right: 20px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Friz Quadrata;
  /* transition: font-size 0.1s linear; */
}

.c-sm {
  margin-left: 20px;
  margin-right: 0px;
}

.c12 {
  font-size: 25px;
}

.c12-active {
  font-size: 26.5px;
}

.c13 {
  font-size: 23.5px;
}

.c13-active {
  font-size: 25.5px;
}

.c14 {
  font-size: 21.5px;
}

.c14-active {
  font-size: 23px;
}

.c15 {
  font-size: 20px;
}

.c15-active {
  font-size: 21.5px;
}

.c16 {
  font-size: 18.5px;
}

.c16-active {
  font-size: 20px;
}

.c17 {
  font-size: 18px;
}

.c17-active {
  font-size: 19px;
}

.c18 {
  font-size: 18px;
}

.c18-active {
  font-size: 19px;
}

.c19 {
  font-size: 17.5px;
}

.c19-active {
  font-size: 18.5px;
}

.c20 {
  font-size: 16.5px;
}

.c20-active {
  font-size: 17.5px;
}

.c21 {
  font-size: 17px;
}

.c21-active {
  font-size: 18px;
}

.c22 {
  font-size: 15px;
}

.c22-active {
  font-size: 16px;
}

.c25 {
  font-size: 14px;
}

.c25-active {
  font-size: 15px;
}

.c26 {
  font-size: 12.5px;
}

.c26-active {
  font-size: 13.5px;
}


/* Sub Menu Button */

.dd-sub-button,
.dd-sub-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 174px;
  height: 30px;
  scroll-snap-align: start;
  background-image: url("../../assets/buttons/sub-button.png");
}

.dd-sub-button-active {
  filter: brightness(1.5)
}

.dd-sub-arrow,
.dd-sub-arrow-sm {
  position: absolute;
  width: 18px;
  height: 18px;
}

.dd-sub-arrow {
  left: 0;
  margin-left: 6px;
}

.dd-sub-arrow-sm {
  right: 0;
  margin-right: 6px;
  transform: scaleX(-1);
}

.dd-sub-button-text {
  display: flex;
  justify-content: center;
  position: absolute;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  font-weight: bold;
  /* transition: font-size 0.1s linear; */
}

.dd-long-sub-text {
  font-size: 13px;
}
