.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-header-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-header-text {
  display: flex;
  align-items: center;
  margin-top: -40px;
  z-index: 1;
  height: 40px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Friz Quadrata;
  font-size: 24px;
}

.collapse-arrow {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: -33px;
  margin-bottom: 17px;
}

.collapsed,
.expanded {
  margin-right: 2px;
  width: 20px;
  height: 17px;
}

.collapsed {
  transform: rotate(90deg);
}

.expanded {
  transform: rotate(-90deg);
}
