.main-header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5px;
  margin-bottom: 6px;
}

.main-header-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 40px;
  background-image: url("../../assets/headers/main-header.png");
}

.main-header-text {
  z-index: 1;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  font-size: 24px;
}

.collapse-arrow {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.collapsed,
.expanded {
  margin-right: 2px;
  width: 20px;
  height: 17px;
}

.collapsed {
  transform: rotate(90deg);
}

.expanded {
  transform: rotate(-90deg);
}
