/* Container */

.controls {
  height: max-content;
  border: 1px solid black;
  border-radius: 15px;
}

.classic-controls {
  background: rgba(241, 221, 111, 0.5);
}

.tbc-controls {
  background: rgba(45, 159, 5, 0.5);
}

.wotlk-controls {
  background: rgba(25, 118, 174, 0.5);
}

.ctrl {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
  width: 252px;
  min-width: 252px;
}

.ctrl-sm {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  width: 246px;
  min-width: 246px;
}


/* Header */

.controls-header,
.controls-header-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px;
  margin-bottom: 11px; */
}

.controls-header {
  margin-top: 7px;
  margin-bottom: 7px;
}

.controls-header-sm {
  margin-top: 5px;
  margin-bottom: 1px;
}

.controls-header-text {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 40px;
  margin-top: -40px;
  font-family: Friz Quadrata;
  font-size: 24px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Controls */

.control-label,
.control-label-sm {
  font-family: MORPHEUS;
  font-size: 24px;
  text-align: center;
}

.control-label {
  /* margin-bottom: 7px; */
}

.control-label-sm {
  /* margin-bottom: 1px; */
}

.control {
  /* margin-top: 5px;
  margin-bottom: 5px; */
}


/* Quest Tracker */

.qt-faction,
.qt-filters,
.qt-additional-filters,
.qt-faction-sm,
.qt-filters-sm,
.qt-additional-filters-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qt-faction,
.qt-faction-sm {
  position: relative;
  margin-top: -8.5px;
}

.qt-filters {
  margin-top: 51px;
}

.qt-filters-sm {
  margin-top: 41px;
}

.qt-additional-filters {
  margin-bottom: 7px;
}

.filter-zone {
  margin-bottom: 5px;
}

.filter-zone-sm {
  margin-top: 6px;
}

.filter-or {
  margin-top: -7.5px;
  margin-bottom: 3px;
}

.filter-or-sm {
  margin-top: -15px;
  margin-bottom: 0px;
}

.filter-additional {
  margin-top: -1.5px;
  margin-bottom: 5px;
}

.filter-additional-sm {
  margin-top: -6px;
}


/* FactionSelect */

.faction-select,
.faction-select-sm {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.faction-select {
  margin-top: 90px;
}

.faction-select-sm {
  margin-top: 82px;
}

.qt-alliance-1,
.qt-alliance-1-anim-1 {
  margin-right: 48px;
  z-index: 2;
}

@keyframes qt-alliance-1-animation {
  0% {
    z-index: 1;
  }
  50% {
    margin-bottom: 24px;
    z-index: 1;
  }
  51% {
    margin-bottom: 24px;
    z-index: 2;
  }
  100% {
    margin-bottom: 0px;
    z-index: 2;
  }
}

.qt-alliance-1-anim-1 {
  animation-name: qt-alliance-1-animation;
  animation-duration: 0.5s;
}

.qt-horde-1,
.qt-horde-1-anim-1 {
  margin-top: -48px;
  margin-left: 48px;
  z-index: 1;
}

@keyframes qt-horde-1-animation {
  50% {
    margin-top: -24px;
  }
  100% {
    margin-top: -48px;
  }
}

.qt-horde-1-anim-1 {
  animation-name: qt-horde-1-animation;
  animation-duration: 0.5s;
}

.qt-alliance-2,
.qt-alliance-2-anim-2 {
  margin-top: -48px;
  margin-right: 48px;
  z-index: 1;
}

@keyframes qt-alliance-2-animation {
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: -48px;
  }
}

.qt-alliance-2-anim-2 {
  animation-name: qt-faction-1-animation;
  animation-duration: 0.5s;
}

.qt-horde-2,
.qt-horde-2-anim-2 {
  margin-left: 48px;
  z-index: 2;
}

@keyframes qt-horde-2-animation {
  0% {
    z-index: 1;
  }
  50% {
    margin-bottom: 48px;
    z-index: 1;
  }
  51% {
    margin-bottom: 48px;
    z-index: 2;
  }
  100% {
    margin-bottom: 0px;
    z-index: 2;
  }
}

.qt-horde-2-anim-2 {
  animation-name: qt-horde-2-animation;
  animation-duration: 0.5s;
}
