/* Container */

.view {
  margin-top: 5px;
  width: 100%;
  height: max-content;
  max-height: 695px;
  border: 1px solid black;
  border-radius: 10px;
}

.classic-view {
  background: rgba(241, 221, 111, 0.5);
}

.tbc-view {
  background: rgba(45, 159, 5, 0.5);
}

.wotlk-view {
  background: rgba(25, 118, 174, 0.5);
}

.small-view {
  margin-right: 5px;
}


/* Quest View */

.qt-view {
  /* max-height: 685px; */
}


/* Quest Tracker Header */

.qt-select-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 7px;
}

.qt-select-text {
  margin-top: -32px;
  height: 32px;
  font-family: Friz Quadrata;
  font-size: 20px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Quest Tracker Table */

.quest-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-height: 632.5px;
  border: black 1px solid;
  border-radius: 5px;
  background: rgba(3, 130, 183, 0.7);
}

table {
  border-spacing: 0px;
}

thead, tbody {
  width: 100%;
}

thead {
  font-family: Friz Quadrata;
  font-size: 19px;
  border-bottom: black 1px solid;
}

tbody {
  font-family: MORPHEUS;
  font-size: 16px;
}

tr {
  display: table;
  width: 100%;
}

th, td {
  text-align: center;
}

.qt-th1, .qt-td1 {
  width: 74%;
}

.qt-th2, .qt-td2 {
  width: 9%;
  border-left: black 1px solid;
  border-right: black 1px solid;
}

.qt-th3, .qt-td3 {
  width: 17%;
}

.classic-qtc {
  color: #016002;
}

.classic-qti {
  color: #8f0018;
}

.tbc-qtc, .wotlk-qtc {
  color: #004001;
}

.tbc-qti,.wotlk-qti  {
  color: #8f0018;
}
