/* General */

.xpac-nav-classic,
.xpac-nav-tbc,
.xpac-nav-wotlk {
  display: flex;
  flex-direction: column-reverse;
  height: 70px;
  /* border-bottom: 1px solid black; */
}

.xpac-tabs {
  display: flex;
  flex-direction: row;
}

.classic-tab,
.classic-tab-active,
.tbc-tab,
.tbc-tab-active,
.wotlk-tab,
.wotlk-tab-active {
  /* width: calc(100% / 3); */
  height: 48px;
  text-align: center;
}


/* Classic */

.classic-tab,
.classic-tab-active {
  background-color: tan;
  border-right: 1px solid black;
}

.classic-nav-active {
  font-weight: bold;
}

.xpac-nav-classic {
  background-image: linear-gradient(#120501, #190a07);
}


/* TBC */

.tbc-tab,
.tbc-tab-active {
  background-color: green;
}

.tbc-tab-active {
  font-weight: bold;
}


/* WotLK */

.wotlk-tab,
.wotlk-tab-active {
  background-color: blue;
  border-left: 1px solid black;
}

.wotlk-tab-active {
  font-weight: bold;
}
