.main-big-header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-big-header-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 436px;
  height: 40px;
  background-image: url("assets/headers/main-big-header.webp");
}

.main-big-header-text {
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  font-size: 20px;
}

.loading-text {
  width: 86.8px;
}
