/* Container */

.main-btn,
.prefs-btn {
  border-radius: 5px;
  background-image: url("../../../../assets/buttons/main-button.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  /* transition: width 0.1s linear, height 0.1s linear; */
}

.main-btn,
.main-btn:hover,
.main-btn-active {
  width: 224px;
  height: 54px;
}

.prefs-btn,
.prefs-btn:hover,
.prefs-btn-active {
  width: 168px;
  height: 40.5px;
}

.main-btn:hover,
.main-btn-active,
.prefs-btn:hover,
.prefs-btn-active {
  z-index: 1;
  transform: scale(1.05);
}


/* Text */

.main-btn-text,
.prefs-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  /* transition: font-size 0.1s linear; */
}

.main-btn-text,
.main-btn:hover > .main-btn-text,
.main-btn-text-active {
  font-size: 25px;
}

.prefs-btn-text,
.prefs-btn:hover > .prefs-btn-text,
.prefs-btn-text-active {
  font-size: 19px;
}

.main-btn:hover > .main-btn-text,
.main-btn-text-active,
.prefs-btn:hover > .prefs-btn-text,
.prefs-btn-text-active {
  transform: scale(1.05);
}
