/* Container */

.main-btn,
.prefs-btn {
  border-radius: 5px;
  background-image: url("../../../../assets/buttons/main-button.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /* transition: width 0.1s linear, height 0.1s linear; */
}

.main-btn {
  min-width: 224px;
  max-width: 224px;
  min-height: 54px;
  max-height: 54px;
}

.main-btn:hover,
.main-btn-active {
  min-width: 236.5px;
  max-width: 236.5px;
  min-height: 56.78px;
  max-height: 56.78px;
}

.prefs-btn {
  min-width: 168px;
  max-width: 168px;
  min-height: 40.5px;
  max-height: 40.5px;
}

.prefs-btn:hover,
.prefs-btn-active {
  min-width: 177px;
  max-width: 177px;
  min-height: 42.67px;
  max-height: 42.67px;
}


/* Text */

.main-btn-text,
.prefs-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  /* transition: font-size 0.1s linear; */
}

.main-btn-text {
  font-size: 25px;
}

.main-btn:hover > .main-btn-text,
.main-btn-text-active {
  font-size: 26.5px;
}

.prefs-btn-text {
  font-size: 19px;
}

.prefs-btn:hover > .prefs-btn-text,
.prefs-btn-text-active {
  font-size: 20px;
}
