.app {
  height: 100%;
}

.lower-app {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.classic-container {
  background-image: url("../assets/background/vanilla.jpg");
}

.tbc-container {
  background-image: url("../assets/background/tbc.jpg");
}

.wotlk-container {
  background-image: url("../assets/background/wotlk.jpg");
}
