.tool-list {
  width: 272px;
  height: max-content;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 15px;
  border-right: 1px solid black;
}

.tool {
  margin-top: 2px;
  border: 1px solid black;
}