.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 224px;
  height: 28px;
}

.checkbox-img {
  width: 24px;
  height: 24px;
}

.checkbox-img:hover {
  filter: brightness(1.5);
}

.checkbox-img:active {
  filter: brightness(1);
}

.checkbox-text {
  padding-bottom: 4px;
  width: 200px;
  text-align: center;
  line-height: 28px;
  font-family: MORPHEUS;
  font-size: 20px;
}
