/* Container */

.main-btn,
.prefs-btn {
  border-radius: 5px;
  background-image: url("../../assets/buttons/main-button.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: width 0.1s linear, height 0.1s linear;
}

.main-btn {
  width: 224px;
  height: 54px;
}

.main-btn:hover,
.main-btn-active {
  width: 236.5px;
  height: 56.5px;
}

.prefs-btn {
  width: 168px;
  height: 40.5px;
}

.prefs-btn:hover,
.prefs-btn-active {
  width: 177px;
  height: 42.67px;
}


/* Text */

.main-btn-text,
.prefs-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  transition: font-size 0.1s linear;
}

.main-btn-text {
  font-size: 25px;
}

.main-btn:hover > .main-btn-text,
.main-btn-text-active {
  font-size: 26.5px;
}

.prefs-btn-text {
  font-size: 19px;
}

.prefs-btn:hover > .prefs-btn-text,
.prefs-btn-text-active {
  font-size: 20px;
}
