/* Container */

.main-button {
  width: 224px;
  height: 54px;
  background-image: url("../../assets/buttons/main-button.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  transition: width 0.1s linear, height 0.1s linear;
}

.main-button:hover,
.main-button-active {
  width: 236.5px;
  height: 57px;
}


/* Text */

.main-button-text {
  display: flex;
  justify-content: center;
  font-family: Friz Quadrata;
  font-size: 26px;
  margin-top: 7px;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 0.1s linear, margin-top 0.1s linear, margin-bottom 0.1s linear;
}

.main-button:hover > .main-button-text,
.main-button-text-active {
  font-size: 27.5px;
}
