/* Container */

.main-btn {
  width: 224px;
  height: 54px;
  border-radius: 5px;
  background-image: url("../../assets/buttons/main-button.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: width 0.1s linear, height 0.1s linear;
}

.main-btn:hover,
.main-btn-active {
  width: 236.5px;
  height: 55.5px;
}


/* Text */

.main-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  font-size: 26px;
  transition: font-size 0.1s linear, margin-top 0.1s linear, margin-bottom 0.1s linear;
}

.main-btn:hover > .main-btn-text,
.main-btn-text-active {
  font-size: 28px;
}
