/* Container */

.main-big-btn {
  width: 224px;
  height: 74px;
  border-radius: 5px;
  background-image: url("../../assets/buttons/main-big-button.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: width 0.1s linear, height 0.1s linear;
}

.main-big-btn:hover,
.main-big-btn-active {
  width: 236.5px;
  height: 77.5px;
}


/* Text */

.main-big-btn-text,
.main-big-btn-text-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#c88f19 40%, #f7f243 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Friz Quadrata;
  font-size: 26px;
  transition: font-size 0.1s linear, margin-top 0.1s linear, margin-bottom 0.1s linear;
}

.main-big-btn-text-bottom {
  margin-top: -5px;
}

.main-big-btn:hover > .main-big-btn-text,
.main-big-btn-text-active,
.main-big-btn:hover > .main-big-btn-text-bottom,
.main-big-btn-text-bottom-active {
  font-size: 28px;
}
